<html>
<head>
  <%- include('./partials/head'); %>
</head>
    <h1>
    About <%= name%>
    </h1>
    <div id="btnform">
    <button class="button" onclick="showText()">Show/Hide</button>
    <div id="btnbox">
      <p>
        <%= paragraph %>
      </p>
      <div id="txt"></div>
    </div>
  </div>
    <%- include('./partials/homebtn'); %>
</html>
