<div>
<form action="/ethan">
  <input class="buttonethan" type="submit" value="About Ethan" />
</form>
<form action="/justin">
  <input class="buttonjustin" type="submit" value="About Justin" />
</form>
<form action="/tyler">
  <input class="buttontyler" type="submit" value="About Tyler" />
</form>
<form action="/feedback">
  <input class="buttonfeedback" type="submit" value="Feedback" />
</form>
</div>
