<div>
<form class="button" action="/ethan">
  <input type="submit" value="About Ethan Shimmel" />
</form>
<form class="button" action="/justin">
  <input type="submit" value="About Justin Anderson" />
</form>
<form class="button" action="/tyler">
  <input type="submit" value="About Tyler Siegmund" />
</form>
</div>
