<html>
    <head>
      <%- include('./partials/head'); %>
    </head>
    <h1>
    About Us!
    </h1>
    <div id="btnform">
    <button onclick="typeWriter()">Click me</button>
  </div>
    <p id="test">
    </p>
    <div id="txt"></div>
    <body>
      <%- include('./partials/homebtn'); %>
      <%- include('./partials/aboutbtn'); %>
    </body>
</html>
