<html>
<head>
    <%- include('./partials/head'); %>
</head>
    <h1>
    About <%=ethan.name%>
    </h1>
    <div id="btnform">
    <button class="button" onclick="showText()">Show/Hide</button>
    <div id="btnbox">
      <p>
        I am a hard working student with a 4.0 GPA. I play basketball and baseball here at York County School of Technology.<br>
        I am able to adapt to many different work environments. I would prefer to work as a game developer but look to go to college first.<br>
        I want to be able to build my own game and create a company from it.

      </p>
      <div id="txt"></div>
    </div>
  </div>
    <form class="button" action="/">
        <input type="submit" value="Back to home" />
    </form>
</html>
