<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thanks for the Feedback</title>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <h3>
    <%= paragraph %>
  </h3>
  <form action="/feedback">
      <input class="gobackbtn1" type="submit" value="Go Back" />
  </form>
  </body>
</html>
