<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" src="static/jsfeat.js"></script>
    <meta charset="utf-8">
    <title>Give Us Feedback</title>
  </head>
  <body>
    <h1>Please give us your feedback</h1>
  <div>
    <form action="/feedback" method="post">
      <input class="feedbackform" type="text" name="user" placeholder="Enter your name here..." value="">
    <div class="commentspacing">
      <textarea class="commentbox" size="75" type="text" name="adjective" value""> Enter your comment here...</textarea>
    </div>
    <div class="">
      <input class="feedbackform" type="submit" value="Submit">
    </div>
    </form>
  </div>
  <table>
    <tr>
      <th>Name</th>
      <th>Comment</th>
    </tr>
    <% for(var i=0; i < comments.length; i++) { %>
       <tr>
         <td class="colname"><%= comments[i].name %></td>
         <td class="colcomment"><%= comments[i].comment %></td>
       </tr>
    <% } %>
  </table>
  </body>
</html>
