
<html>
    <body onload="startTime()">
    <head>
      <%- include('./partials/head'); %>
    </head>
  <h1>
    Team B's Website
  </h1>
  <div id="btnform">
  <div id="btnbox">
  <p>
    This is Team B's home page. We consider ourselves highly professional.<br>
    Our skills in programing are highly diverse, starting from being good at python to being good at Java.<br>
    We also consider ourselves as good with teamwork skills. We had cooperated with little issue the entire time
  </p>
  <div id="txt"></div>
</div>
</div>
  <form action="/about">
    <input class="button" type="submit" value="About us" />
  </form>
</html>
