



.button {
text-align: center;
font-size: 16px;
border-radius: 50%;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.column1 {
  float: left;
  width: 33.33%;

}
.column2 {
  float: right;
  vertical-align: bottom;
  width: 33.33%
}

body {
  background-image: url(https://htmlcolors.com/gradients-images/108-blue.jpg);
}
html {
  color: white;
