.button {
  position:absolute;
  top:40;
  right:400;
  border: none;
  float: right;
  background-color: lime;
  color: blue;
  font-size: 25px;
}

.buttonethan{
  position:absolute;
  top:40;
  right:400;
  border: none;
  float: right;
  background-color: lime;
  color: blue;
  font-size: 15px;
  height: 40px;
}
.buttontyler{
  position:absolute;
  top:40;
  right:310;
  border: none;
  float: left;
  background-color: lime;
  color: blue;
  font-size: 15px;
  height: 40px;
}
.buttonjustin{
  position:absolute;
  top:40;
  right:213;
  border: none;
  float: right;
  background-color: lime;
  color: blue;
  font-size: 15px;
  height: 40px;
}

.buttonfeedback{
  position:absolute;
  top:40;
  right:133;
  border: none;
  float: right;
  background-color: lime;
  color: blue;
  font-size: 15px;
  height: 40px;
}

.homebutton{
  position:absolute;
  top:40;
  right:27;
  border: none;
  float: right;
  background-color: lime;
  color: blue;
  font-size: 15px;
  height: 40px;
}

.feedbackform{
  text-align: center;
  background-color: lightgrey;
  color: black;
  padding: 10px 30px;
}

.commentbox{
  padding: 2px 2px;
  height: 100px;
  resize: vertical;
  font-size: 30px;
  background-color: lightgrey;
  color: black;
  text-align: left;
}

.commentspacing{
  padding: 30px 30px;
}


#btnform {
  padding-left: 400px;
  padding-right: 400px;
  text-align: center;
}

#btnbox {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
  border-color: lime;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-collapse: collapse;
}
#btn {
  text-align: center;
}
h1 {
  text-align: center;
  color: lime;
  font-size: 45px;
  text-shadow: 0 0 20px #FF0000, 0 0 5px #0000FF;
}

h2 {
  text-align: left;
}

p {
  text-align: center;
  font-size: 20px;
  color: white;
}

.column1 {
  float: left;
  width: 33.33%;

}
.column2 {
  float: right;
  vertical-align: bottom;
  width: 33.33%
}

body {
  background-image: url(https://htmlcolors.com/gradients-images/108-blue.jpg);
}
html {
  color: white;

}

.bottomleft{
  position: absolute;
  bottom: 8px
  left: 100px;
}

div {
  text-align: center;
  font-size: 30px;
  color: lime;
}

#test {

}
#tylersgame {
  display: block;
}
