.button {
  margin-top: 50px;
text-align: center;

}

#btnform {
  padding-left: 400px;
  padding-right: 400px;
  text-align: center;
}

#btnbox {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
  border-color: lime;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-collapse: collapse;
}
#btn {
  text-align: center;
}
h1 {
  text-align: center;
  color: lime;
  font-size: 45px;
  text-shadow: 0 0 20px #FF0000, 0 0 5px #0000FF;
}

h2 {
  text-align: left;
}

p {
  text-align: center;
  font-size: 20px;
  color: white;
}

.column1 {
  float: left;
  width: 33.33%;

}
.column2 {
  float: right;
  vertical-align: bottom;
  width: 33.33%
}

body {
  background-image: url(https://htmlcolors.com/gradients-images/108-blue.jpg);
}
html {
  color: white;

}

.bottomleft{
  position: absolute;
  bottom: 8px
  left: 100px;
}

div {
  text-align: center;
  font-size: 30px;
  color: lime;
}

#test {

}
#tylersgame {
  display: block;
}
